<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Exercise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" />
    <link rel="stylesheet" href="../css/960_12_col.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- Header start  -->
    <header class="header container_12">
      <a href="index.html" class='header_name grid_2'>Career Up</a>
      <nav class='nav_header grid_5'>
        <a href="../index.html" class="nav_link">Home</a>
        <a href="#about" class="nav_link">About</a>
        <a href="courses.html" class="nav_link">Courses</a>
        <a href="#contact" class="nav_link">Contact Us</a>
      </nav>
    </header>
    <!-- Header end  -->
    <!-- Hero Unit Section start  -->
    <section class="hero_unit container_12">
      <img src="../images/courses.jpg" alt="Hero unit image" class='hero_image'>
    </section>
    <!-- Hero Unit Section start  -->
    <!-- 3 Column Section start  -->
    <section class='section container_12' id='about'>
      <div class="column_course grid_4">
        <img src="../images/js.jpg" alt='We have school here' class="column_image">
        <h4 class="lng_name">JavaScript</h4>
        <img src="../images/angular.jpg" alt='We have school here' class="column_image">
        <h4 class="lng_name">Angular</h4>
      </div>
      <div class="column_course grid_4">
        <img src="../images/react.png" alt="We have books here" class="column_image">
        <h4 class="lng_name">ReactJs</h4>
        <img src="../images/node.png" alt="We have books here" class="column_image">
        <h4 class="lng_name">NodeJs</h4>
      </div>
      <div class="column_course grid_4">
        <img src="../images/number_theory.jpg" alt="Number Theory" class="column_image">
        <h4 class="lng_name">Number Theory</h4>
        <img src="../images/misc.jpg" alt="Miscellaneous" class="column_image">
        <h4 class="lng_name">Miscellaneous</h4>
      </div>
    </section>
    <!-- 3 Column Section start  -->
    <!-- 2 Verticle Column Section start  -->
    <section class='section2 container_12'>
      <div class="grid_8">
        <img src="../images/events.jpg" alt="School Events" class='event_image'>
      </div>
      <div class="grid_4">
        <div class='row_column'>
          <p>Theodore Roosevelt</p>
          <blockquote>
            <q>
            A man who has never gone to school may steal from a freight car; but if he has a university education,
            he may steal the whole railroad.
            </q>
          </blockquote>
        </div>
        <div class="row_column">
          <p>Nick Saban</p>
          <blockquote>
            <q>
            I wish my school days could have dragged on a little longer,
            or that I could go back and do it later in life.
            </q>
          </blockquote>
        </div>
        <div class="row_column">
          <p>Helen Keller</p>
          <blockquote>
            <q>
            The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.
            </q>
          </blockquote>
        </div>
      </div>
    </section>
    <!-- 2 Verticle Column Section start  -->
    <!-- Footer start  -->
    <footer class="footer container_12" id='contact'>
      <a href='#' class="footer_link grid_6">
      Copyright
      <i class="fa fa-copyright" aria-hidden="true"></i>
      2015 All Rights Reserved by Career Up Inc.
      </a>
      <a href="https://www.facebook.com" target='_blank' class="footer_link grid_2">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      Facebook
      </a>
      <a href="https://www.twitter.com" target='_blank' class="footer_link grid_2">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      Twitter
      </a>
      <a href="https://www.google.com" target='_blank' class="footer_link grid_2">
      <i class="fa fa-google" aria-hidden="true"></i>
      Google
      </a>
    </footer>
    <!-- Footer end  -->
  </body>
</html>
